<%
    const centerText = function(text, offset) {
        let outputText = '';

        for (let i = 0; i < 40 - offset - (text.length + 1)/2; i++) {
            outputText += ' ';
        }

        outputText += text;

        for (let i = 0; i < 40 - offset - (text.length)/2; i++) {
            outputText += ' ';
        }

        return outputText;
    }

    const centerMultilineText = function(text) {
        let outputText = '';

        for (let line of text.split('\n')) {
            outputText += '██ ' + centerText(line, 3) + ' ██\n';
        }

        return outputText;
    }
%>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ascii Start</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body style="background-color: <%= data.backgroundColor %>; color: <%= data.textColor %>;">
    <div class="pre-container">
<pre>
████████████████████████████████████████████████████████████████████████████████
██                                                                            ██
<%= centerMultilineText(`
 █████╗ ██████╗ █████╗██╗██╗   ██████╗████████╗ █████╗ ██████╗ ████████╗
██╔══██╗██╔═══╝██╔═══╝██║██║   ██╔═══╝╚══██╔══╝██╔══██╗██╔══██╗╚══██╔══╝
███████║██████╗██║    ██║██║   ██████╗   ██║   ███████║██████╔╝   ██║   
██╔══██║╚═══██║██║    ██║██║   ╚═══██║   ██║   ██╔══██║██╔══██╗   ██║   
██║  ██║██████║╚█████╗██║██║   ██████║   ██║   ██║  ██║██║  ██║   ██║   
╚═╝  ╚═╝╚═════╝ ╚════╝╚═╝╚═╝   ╚═════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   
`) _%>
██                                                                            ██
<%_ data.linkGroups && data.linkGroups.forEach(linkGroup = (linkGroup) => { _%>
██  .----------------------------------------------------------------------.  ██
██  | <%= centerText(linkGroup.groupName, 6) %> |  ██
██  '----------------------------------------------------------------------'  ██
██                                                                            ██
<% linkGroup.links && linkGroup.links.forEach(link = (link) => { %>██   > <a href="<%= link.url %>"><%= link.name %></a><% for (let i = 0; i < 80 - 9 - link.name.length; i++) { %> <% } %>██
<% }) %>██                                                                            ██
<% }) %>██                                                                            ██
████████████████████████████████████████████████████████████████████████████████
</pre>
    </div>
</body>
</html>
